
<div class="navbar-fixed">
  <nav>
      <div lass="nav-wrapper">
        <a class="test2"><img src="../assets/img/data-collection.png" width="50px" alt="">Employee Data base</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="update">update</a></li>
          <li><a routerLink="addData" >Add</a></li>
          <li><a routerLink="table">table</a></li>
        </ul>
      </div>
    </nav>
</div>





<!-- <app-table></app-table> -->
<router-outlet>
    </router-outlet>

<!-- <app-update></app-update> -->

<!-- <app-about >

</app-about> -->
<!-- <a [routerLink] ="['/profile']">Auth</a> <div class="container"> -->
    <!-- <form [formGroup]="ahtesham" (ngSubmit)="auth(ahtesham.value)">
    <label for="First-Name">
        Enter First_Name
        <br>
        <input id="First-Name" type="text"  placeholder="Enter First_Name" formControlName="text">
    </label>
    <br><br>
    <label for="Last-Name">
        Enter password
        <br>
        <input type="password"  placeholder="password" formControlName="ptext">
    </label>
    <br><br>
   
    <p>Complete the form to enable button.</p>
    <button type="submit" >Submit</button>
    </form>

  <app-child (Emitvalue)="ReciveItem($event)"></app-child>
    <p>{{ recive | json}}</p>
    <app-home (Emithome)="Actas($event)"></app-home>
    <p>{{collecting|json}}</p>  -->
